@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	width: 100%;
}
#contenedor{
	width: 100%;
}
nav{
  background: #000;
  height: 80px;
  width: 100%;
  position: fixed;
}
label.logo{
  width: 25%;
  color: #7fff00;
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  line-height: 80px;
  padding: 0px 0px 0px 50px;
  font-weight: bold;
}
nav ul{
  width: 60%;
  float: right;
  margin-right: 20px;
}
nav ul li{
  width: 16%;
  display: inline-block;
  line-height: 80px;
  margin: 0px;
}
nav ul li a{
  width: 100%;
  color: #7fff00;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 7px 13px;
}
a.active,a:hover{
  background: rgba(255, 255, 255, 0.3);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
#inicio{
	width: 100%;
	display: flex;	
	flex-direction: column;
	background-image: url(fondo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 82px;
}
#inicio h2{
	width: 305px;
	font-size: 25pt;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: #7fff00;
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	margin: 70px 0% 20px 5%;
}
#inicio h1{
	width: 415px;
	font-size: 45pt;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: #7fff00;
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	margin: 20px 0% 20px 5%;
}
#inicio h3{
	width: 795px;
	float: left;
	color: #000;
	font-size: 30pt;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: #7fff00;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 20px 0% 50px 5%;
}
.contratame{
	width: 200px;
	margin: 10px 75% 0px 5%;
	padding: 10px 0px;
	border-radius: 10px;
	background-color: #008000;
	border: 2px solid #008000;
	font-size: 20pt;
	font-family: 'Lobster', cursive;
	color: #fff;
}
.contratame:hover{
	background-color: transparent;
	color: #008000;
	border-radius: 10px;
}
#inicio p{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 20pt;
	padding: 25px 0px;
	margin-top: 55px;
	color: rgba(255, 255, 255, 0.6);
}
#acercade{
	width: 100%;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 20px;
}
#acercade h1{
	width: 100%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30pt;
	padding: 0px 0px 10px 0px;
}
#acercade h3{
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
#acercade h3 span{
	color: #32cd32;
}
.s1{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 40px 0px;
}
.s11{
	width: 50%;
}
.s11 img{
	width: 60%;
	margin: 0px 20%;
	border-radius: 100%;
}
.s12{
	width: 50%;
}
.s12 h2{
	width: 100%;
	margin: 30px 0% 20px 0%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20pt;
}
.s12 h2 span{
	font-family: 'Ubuntu', sans-serif;
	color: #32cd32;
}
.s12 p{
	width: 80%;
	margin: 0px 20% 40px 0%;
	font-family: 'Poppins', sans-serif;
}
.s12 input{
	width: 200px;
	margin: 0px 0% 0px 0%;
	padding: 10px 0px;
	border-radius: 10px;
	background-color: #008000;
	border: 2px solid #008000;
	font-size: 20pt;
	font-family: 'Lobster', cursive;
	color: #fff;
}
.s12 input:hover{
	background-color: transparent;
	color: #008000;
	border-radius: 10px;
}
#servicios{
	width: 100%;
	background-color: #000;
	padding-top: 80px; 
	padding-bottom: 10px;
}
#servicios h1{
	width: 100%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30pt;
	padding: 0px 0px 10px 0px;
	color: #fff;
}
#servicios h3{
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}
#servicios h3 span{
	color: #32cd32;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px 20px 0px;
}
.card {
    margin: 20px 0;
    width: 30%;
    text-align: center;
    padding: 50px 20px 20px 20px;
    border-radius: 20px;
}
.card:hover{
    background-color: #222222;
}
.card a img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50px;
}
.card h3{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin-top: 20px;
}
.card h4{
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
}
.card p{
	color: #fff;
    font-family: 'Lobster', cursive;
	margin-top: 30px;
	font-size: 10pt;
	margin-bottom: 20px;
}
#habilidades{
	width: 100%;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 20px;
}
#habilidades h1{
	width: 100%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30pt;
	padding: 0px 0px 10px 0px;
}
#habilidades h3{
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
#habilidades h3 span{
	color: #32cd32;
}
.h0{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.h1{
	width: 50%;
	padding: 40px 0px 0px 0px;
}
.h1 h2{
	width: 80%;
	margin: 0px 10%;
	font-family: 'Ubuntu', sans-serif;
} 
.h1 p{
	width: 80%;
	margin: 20px 10% 0px 10%;
	font-family: 'Ubuntu', sans-serif;
}
.h1 img{
	width: 60%;
	margin: 20px 20% 0px 20%;
	border-radius: 20px;
}
.h2{
	width: 50%;
	padding: 100px 0px;
}
.h21{
	width: 80%;
}
.barra1{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra1 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.h22{
	width: 80%;
}
.barra2{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra2 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.h23{
	width: 80%;
}
.barra3{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra3 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.h24{
	width: 80%;
}
.barra4{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra4 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.h25{
	width: 80%;
}
.barra5{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra5 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.h26{
	width: 80%;
}
.barra6{
	width: 83%;
	margin: 0px 0% 0px 17%;
}
.barra6 progress{
	width: 100%;
	height: 8px;
	background-color: #008000;
	margin-bottom: 10px;
}
.titulo{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.titulo h3{
	width: 10%;
	text-align: left;
}
.titulo span{
	width: 90%;
	text-align: right;
}
#contacto{
	width: 100%;
	background-color: #000;
	padding-top: 80px; 
	padding-bottom: 10px;
}
#contacto h1{
	width: 100%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30pt;
	padding: 0px 0px 10px 0px;
	color: #fff;
}
#contacto h3{
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}
#contacto h3 span{
	color: #32cd32;
}
.c1{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.c11{
	width: 50%;
	display: flex;
	flex-direction: row;
	padding-bottom: 50pt;
}
.c11 img{
	width: 60%;
	margin: 50px 20% 0px 20%;
	border-radius: 20px;
}
.c12{
	width: 100%;
	background-color: #fff;
}
#escribe{
	width: 100%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30pt;
	padding: 0px 0px 10px 0px;
	color: #000;
	background-color: #fff;
	padding: 30px 0px;
}
.c12 form{
	width: 80%;
	padding: 40px 0px 30px 0px;
	margin: 0px 10% 50px 10%;
	background-color: rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 10px;
}
#nombre{
	width: 30%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fff;
	border-bottom: 2px solid #adff2f;
	font-family: 'Poppins', sans-serif;
}
#email{
	width: 30%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fff;
	border-bottom: 2px solid #adff2f;
	font-family: 'Poppins', sans-serif;
}
#tema{
	width: 30%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fff;
	border-bottom: 2px solid #adff2f;
	font-family: 'Poppins', sans-serif;
}
#mensaje{
	width: 95%;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fff;
	border-bottom: 2px solid #adff2f;
	font-family: 'Poppins', sans-serif;
}
#enviar{
	width: 150px;
	border-radius: 10px;
	padding: 7px 0px;
	background-color: #adff2f;
	border: #fff;
	font-family: 'Lobster', cursive;
	color: rgba(128, 128, 128, 0.9);
}
#enviar:hover{
	background-color: #fff;
	border: 2px solid #adff2f;
}
.ok{
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #bce253;
	color: #000;
}
.bad{
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: rgba(220, 20, 60, 0.5);
	color: #000;
}
footer{
	width: 100%;
	background-color:#000;
}
footer p{
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 12pt;
	font-family: 'Poppins', sans-serif;
}

/*responsive tablet*/
@media only screen and (min-device-width : 601px) and (max-device-width : 1150px) {
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
	}
	body{
		width: 100%;
		background-color: #000; 
	}
	#contenedor{
		width: 100%;
	}
	nav{
	  background: #000;
	  height: 80px;
	  width: 100%;
      position: fixed;
	}
	label.logo{
	  width: 25%;
	  color: #7fff00;
	  font-family: 'Lobster', cursive;
	  font-size: 30pt;
	  line-height: 80px;
	  padding: 0px 0px 0px 50px;
	  font-weight: bold;
	}
	nav ul{
	  width: 60%;
	  float: right;
	  margin-right: 20px;
	}
	nav ul li{
	  width: 100%;
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
	nav ul li a{
	  width: 100%;
	  color: #7fff00;
	  font-family: 'Ubuntu', sans-serif;
	  border-radius: 3px;
	  text-transform: uppercase;
	  padding: 7px 13px;
      font-size: 20px;
	}
	a.active,a:hover{
	  background: none;
      color: #fff;
	}
	.checkbtn{
	  font-size: 30px;
	  color: white;
	  float: right;
	  line-height: 80px;
	  margin-right: 40px;
	  cursor: pointer;
	  display: block;
	}
	#check{
	  display: none;
	}
	#inicio{
		width: 100%;
		display: flex;	
		flex-direction: column;
		background-image: url(img/fondo1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-top: 82px;
	}
	#inicio h2{
		width: 305px;
		font-size: 20pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		margin: 70px 0% 20px 5%;
		text-align: center;
	}
	#inicio h1{
		width: 415px;
		font-size: 38pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		margin: 20px 0% 20px 5%;
		text-align: center;
	}
	#inicio h3{
		width: 70%;
		float: left;
		color: #000;
		font-size: 25pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		margin: 20px 0% 50px 5%;
		text-align: center;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #000;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
  	}
    #check:checked ~ ul{
      left: 0;
    }
    .contratame{
		width: 200px;
		margin: 10px auto 50px auto;
		padding: 10px 0px;
		border-radius: 10px;
		background-color: #008000;
		border: 2px solid #008000;
		font-size: 20pt;
		font-family: 'Lobster', cursive;
		color: #fff;
	}
	.contratame:hover{
		background-color: transparent;
		color: #008000;
	}
}

/*responsive celular*/
@media only screen and (min-device-width : 270px) and (max-device-width : 600px) {
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		list-style: none;
	}
	body{
		width: 100%;
		background-color: #000; 
	}
	#contenedor{
		width: 100%;
	}
	nav{
	  background: #000;
	  height: 80px;
	  width: 100%;
      position: fixed;
	}
	label.logo{
	  width: 25%;
	  color: #7fff00;
	  font-family: 'Lobster', cursive;
	  font-size: 25pt;
	  line-height: 80px;
	  padding: 0px 0px 0px 50px;
	  font-weight: bold;
	}
	nav ul{
	  width: 60%;
	  float: right;
	  margin-right: 20px;
	}
	nav ul li{
	  width: 100%;
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
	nav ul li a{
	  width: 100%;
	  color: #7fff00;
	  font-family: 'Ubuntu', sans-serif;
	  border-radius: 3px;
	  text-transform: uppercase;
	  padding: 7px 13px;
      font-size: 20px;
	}
	a.active,a:hover{
	  background: none;
      color: #fff;
	}
	.checkbtn{
	  font-size: 30px;
	  color: white;
	  float: right;
	  line-height: 80px;
	  margin-right: 40px;
	  cursor: pointer;
	  display: block;
	}
	#check{
	  display: none;
	}
	#inicio{
		width: 100%;
		display: flex;	
		flex-direction: column;
		background-image: url(img/fondo1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-top: 82px;
	}
	#inicio h2{
		width: 40%;
		font-size: 20pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		margin: 70px 30% 20px 30%;
		text-align: center;
	}
	#inicio h1{
		width: 60%;
		font-size: 38pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		float: left;
		margin: 20px 20% 20px 20%;
		text-align: center;
	}
	#inicio h3{
		width: 90%;
		float: left;
		color: #000;
		font-size: 25pt;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 600;
		color: #7fff00;
		background-color: rgba(0, 0, 0, 0.5);
		margin: 20px 5% 50px 5%;
		text-align: center;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #000;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
  	}
    #check:checked ~ ul{
      left: 0;
    }
    .contratame{
		width: 200px;
		margin: 10px auto 50px auto;
		padding: 10px 0px;
		border-radius: 10px;
		background-color: #008000;
		border: 2px solid #008000;
		font-size: 20pt;
		font-family: 'Lobster', cursive;
		color: #fff;
	}
	.contratame:hover{
		background-color: transparent;
		color: #008000;
	}
	#acercade{
		width: 100%;
		background-color: #fff;
		padding-top: 80px; 
	}
	#acercade h1{
		width: 100%;
		text-align: center;
		font-family: 'Lobster', cursive;
		font-size: 30pt;
		padding: 0px 0px 10px 0px;
	}
	#acercade h3{
		width: 100%;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
	#acercade h3 span{
		color: #32cd32;
	}
	.s1{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 40px 0px;
	}
	.s11{
		width: 100%;
	}
	.s11 img{
		width: 60%;
		margin: 0px 20%;
		border-radius: 100%;
	}
	.s12{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.s12 h2{
		width: 80%;
		margin: 30px 10% 20px 10%;
		font-family: 'Ubuntu', sans-serif;
		font-size: 20pt;
		text-align: center;
	}
	.s12 h2 span{
		font-family: 'Ubuntu', sans-serif;
		color: #32cd32;
	}
	.s12 p{
		width: 80%;
		margin: 0px 10% 40px 10%;
		font-family: 'Poppins', sans-serif;
	}
	.s12 input{
		width: 200px;
		margin: 0px auto 0px auto;
		padding: 10px 0px;
		border-radius: 10px;
		background-color: #008000;
		border: 2px solid #008000;
		font-size: 20pt;
		font-family: 'Lobster', cursive;
		color: #fff;
	}
	.s12 input:hover{
		background-color: transparent;
		color: #008000;
		border-radius: 10px;
	}
	#servicios{
		width: 100%;
		background-color: #000;
		padding-top: 80px; 
		padding-bottom: 10px;
	}
	#servicios h1{
		width: 100%;
		text-align: center;
		font-family: 'Lobster', cursive;
		font-size: 30pt;
		padding: 0px 0px 10px 0px;
		color: #fff;
	}
	#servicios h3{
		width: 100%;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
		color: #fff;
	}
	#servicios h3 span{
		color: #32cd32;
	}

	.cards {
	    width: 100%;
	    margin: auto;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    padding: 50px 0px 20px 0px;
	}
	.card {
	    margin: 20px 10%;
	    width: 80%;
	    text-align: center;
	    padding: 50px 20px 20px 20px;
	    border-radius: 20px;
	}
	.card:hover{
	    background-color: #222222;
	}
	.card a img {
	    width: 140px;
	    height: 140px;
	    object-fit: cover;
	    border-radius: 50px;
	}
	.card h3{
		color: #fff;
		font-family: 'Poppins', sans-serif;
		margin-top: 20px;
	}
	.card h4{
		color: #fff;
		font-family: 'Ubuntu', sans-serif;
	}
	.card p{
		color: #fff;
	    font-family: 'Lobster', cursive;
		margin-top: 30px;
		font-size: 10pt;
		margin-bottom: 20px;
	}
	#habilidades{
		width: 100%;
		background-color: #fff;
		padding-top: 80px;
		padding-bottom: 20px;
	}
	#habilidades h1{
		width: 100%;
		text-align: center;
		font-family: 'Lobster', cursive;
		font-size: 30pt;
		padding: 0px 0px 10px 0px;
	}
	#habilidades h3{
		width: 100%;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
	}
	#habilidades h3 span{
		color: #32cd32;
	}
	.h0{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.h1{
		width: 80%;
		margin: 0px 10%;
		padding: 40px 0px 0px 0px;
	}
	.h1 h2{
		width: 80%;
		margin: 0px 10%;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
	} 
	.h1 p{
		width: 80%;
		margin: 20px 10% 0px 10%;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
	}
	.h1 img{
		width: 60%;
		margin: 20px 20% 0px 20%;
		border-radius: 20px;
	}
	.h2{
		width: 100%;
		padding: 30px 0px 30px 0px;
	}
	.h21{
		width: 90%;
	}
	.barra1{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra1 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.h22{
		width: 90%;
	}
	.barra2{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra2 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.h23{
		width: 90%;
	}
	.barra3{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra3 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.h24{
		width: 90%;
	}
	.barra4{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra4 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.h25{
		width: 90%;
	}
	.barra5{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra5 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.h26{
		width: 90%;
	}
	.barra6{
		width: 83%;
		margin: 0px 0% 0px 17%;
	}
	.barra6 progress{
		width: 100%;
		height: 8px;
		background-color: #008000;
		margin-bottom: 10px;
	}
	.titulo{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.titulo h3{
		width: 10%;
		text-align: left;
	}
	.titulo span{
		width: 90%;
		text-align: right;
	}
	#contacto{
		width: 100%;
		background-color: #000;
		padding-top: 80px; 
		padding-bottom: 10px;
	}
	#contacto h1{
		width: 100%;
		text-align: center;
		font-family: 'Lobster', cursive;
		font-size: 30pt;
		padding: 0px 0px 10px 0px;
		color: #fff;
	}
	#contacto h3{
		width: 100%;
		text-align: center;
		font-family: 'Ubuntu', sans-serif;
		color: #fff;
	}
	#contacto h3 span{
		color: #32cd32;
	}
	.c1{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.c11{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 50pt;
	}
	.c11 img{
		width: 80%;
		margin: 50px 10% 0px 10%;
		border-radius: 20px;
	}
	.c12{
		width: 100%;
		background-color: #fff;
	}
	#escribe{
		width: 100%;
		text-align: center;
		font-family: 'Lobster', cursive;
		font-size: 30pt;
		padding: 0px 0px 10px 0px;
		color: #000;
		background-color: #fff;
		padding: 30px 0px;
	}
	.c12 form{
		width: 80%;
		padding: 30px 0px;
		margin: 0px 10% 50px 10%;
		background-color: rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		border-radius: 10px;
	}
	#nombre{
		width: 30%;
		margin-bottom: 30px;
		border-radius: 10px;
		padding: 10px;
		border: 2px solid #fff;
		border-bottom: 2px solid #adff2f;
		font-family: 'Poppins', sans-serif;
	}
	#email{
		width: 30%;
		margin-bottom: 30px;
		border-radius: 10px;
		padding: 10px;
		border: 2px solid #fff;
		border-bottom: 2px solid #adff2f;
		font-family: 'Poppins', sans-serif;
	}
	#tema{
		width: 30%;
		margin-bottom: 30px;
		border-radius: 10px;
		padding: 10px;
		border: 2px solid #fff;
		border-bottom: 2px solid #adff2f;
		font-family: 'Poppins', sans-serif;
	}
	#mensaje{
		width: 95%;
		margin-bottom: 30px;
		border-radius: 10px;
		padding: 10px;
		border: 2px solid #fff;
		border-bottom: 2px solid #adff2f;
		font-family: 'Poppins', sans-serif;
	}
	#enviar{
		width: 150px;
		border-radius: 10px;
		padding: 7px 0px;
		background-color: #adff2f;
		border: #fff;
		font-size: 15pt;
		font-family: 'Lobster', cursive;
		color: rgba(128, 128, 128, 0.9);
	}
	#enviar:hover{
		background-color: #fff;
		border: 2px solid #adff2f;
	}
	.ok{
		text-align: center;
		width: 100%;
		padding: 12px;
		background-color: #bce253;
		color: #000;
	}
	.bad{
		text-align: center;
		width: 100%;
		padding: 12px;
		background-color: rgba(220, 20, 60, 0.5);
		color: #000;
	}
	footer{
		width: 100%;
		background-color:#000;
	}
	footer p{
		width: 100%;
		color: #fff;
		text-align: center;
		font-size: 12pt;
		font-family: 'Poppins', sans-serif;
	}
}
